conda {
    enabled = true
}

process {
    conda = "${projectDir}/environment.yml"
}

params {
    outdir = 'results'
}

profiles {
    conda {
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        conda.enabled = true
    }
}

process {
    withName: ANNOTATE_REFERENCE {
        cpus = 4
        memory = '8 GB'
    }

    withName: EXTRACT_SAMPLE_GENE {
        cpus = 2
        memory = '4 GB'
    }

    withName: ANNOTATE_GENE {
        cpus = 2
        memory = '4 GB'
    }

    withName: ALIGN_PROTEINS {
        cpus = 4
        memory = '8 GB'
    }
}
